.appbar-content{
  background-image: url('../../assets/images/background.jpg');
  height: 200px;
  align-items: flex-start;
  padding: 30px 40px;
  background-size: cover;
  animation: fadeIn 3s ease forwards;

}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.input-control{
background-color: black;

}
